<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedMovie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-img [src]="selectedMovie.imageBigUrl" slot="start"></ion-img>
      <ion-card-header>
        <ion-card-title><ion-badge [color]="selectedMovie.ratingColor">{{selectedMovie.rating}}</ion-badge> {{selectedMovie.title}}</ion-card-title>
        <ion-card-subtitle>{{selectedMovie.year}} <span>-</span> {{selectedMovie.runtime}} <span>-</span> {{selectedMovie.quality}}</ion-card-subtitle>
        <ion-card-subtitle>{{selectedMovie.genres}}</ion-card-subtitle>
        <ion-card-subtitle>{{selectedMovie.actors}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>{{selectedMovie.description}}</p>
        <br/>
        <p>
          <ion-chip *ngIf="selectedMovie.subtitles.pt_br && selectedMovie.subtitles.pt_br.length > 0">
              <ion-avatar>
                <img src="../../assets/icon/flags/br.svg">
              </ion-avatar>
              <ion-label>pt-br</ion-label>
              <!-- <ion-icon name="close-circle"></ion-icon> -->
          </ion-chip>
          <ion-chip *ngIf="selectedMovie.subtitles.pt && selectedMovie.subtitles.pt.length > 0">
              <ion-avatar>
                <img src="../../assets/icon/flags/pt.svg">
              </ion-avatar>
              <ion-label>pt</ion-label>
              <!-- <ion-icon name="close-circle"></ion-icon> -->
          </ion-chip>
        </p>
      </ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of selectedMovie.items">
          <ion-label><p>Seeds: {{item.torrent_seeds}} Peers: {{item.torrent_peers}} <br/> {{item.quality}} {{item.size_bytes}}</p></ion-label>
          <ion-checkbox slot="end" [(ngModel)]="item.isChecked" (ionChange)="updateSelected()"></ion-checkbox>
        </ion-item>
      </ion-list>
        <ion-segment>
          <ion-segment-button value="share" (click)="share()" [disabled]="!hasItemSelected">
            <ion-icon name="share"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="bookmark" [disabled]="!hasItemSelected">
            <ion-icon name="bookmark"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-card>
</ion-content>
